* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    margin: 0 auto;
}

/* ---> Utility <--- */

.blue {
    background-color: rgb(81, 81, 255);
}

.orange {
    background-color: rgba(250, 184, 61, 0.7);
}

.green {
    background-color: rgb(26, 158, 26);
}

.red {
    background-color: rgba(252, 25, 25, 0.5);
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* ---> Header <--- */

header {
    height: 150px;
    width: 1000px;
}

.logo {
    top: 0;
    left: 5px;
    height: 40px;
    width: 150px;
    margin: 5px;
}

.nav_tab {
    height: 25px;
    width: 700px;
    margin: 5px;
    bottom: 0;
    left: 5px;
}

/* ---> Main <--- */

main {
    height: 1000px;
    width: 1000px;
    margin-top: 1rem;
}

.bigimg {
    height: 400px;
    width: 100%;
}

.text_bigimg{
    height: 100px;
    width: 400px;
    bottom: 20px;
    left: 20px;
}

.section_title {
    height: 100px;
    width: 100%;
    margin: 0.5rem 0;
}